.main-navigation {
  background-color: var(--English-Green);
  display: flex;
  justify-content: center;
}
.main-navigation .nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 32px;
}

.main-navigation .active {
  color: var(--Aztec-Gold);
}

.main-navigation .nav-link {
  margin: 0 0.3rem;
}

.main-navigation .nav-link a {
  font-size: 20px;
}

.main-navigation .nav-link .active {
  color: var(--Aztec-Gold);
}
.main-navigation .nav-link-item {
  text-decoration: none;
  color: var(--color1);
  font-size: 0.8rem;
  font-weight: bold;
}

.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: black;
}
